*{
    margin: 0px;
    padding: 0px;
}
/* header styles  */
.header-container{
    background: #9c9090;
    display:flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header-info{
    padding: 150px;
}
.header-tittle{
    font-size: 50px;
    margin-bottom: 10px;
    color: #272727;
}
.header-description{
    padding: 5px;
    color:#272727
}
.btn-primary{
    margin-top: 15px;
    padding: 25px;
    border: none;
    background-color:#E55473;
    color:#FFFFFF;
    border-radius:10px ;
    font-size: 20px;
}
.header-photo{
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header-img{
    width: 400px;
    height:100%;
}
/* main section related styles */
.section-tittle{
    text-align: center;
    margin-top: 100px;
}
.tit{
    margin-bottom: 15px;
}
.pink-container{
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.flower-tree1{
    background: #c27e9f;
    width:350px;
    height: 400px;
}
.photo1{
    width: 300px;
    height: 400px;

}
.flower-tree2{
    background: #7ab0b3;
    width:350px;
    height: 400px;
}

.flower-tree3{
    background:#8eaa71 ;
    width:350px;
    height: 400px;
}
.photo3{
    width:300px;
    height: 100%;
}
/* another section styles */
.section-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 100px;
    width:100%px;
    height: 150px;
    background: #ece8e8;
}
.icon{
    height: 75%;
}
.icon-info{
    text-align: center;
    font-size: 16px;
    margin-right: 3px;
}

/* offer related styles */
.offer-container{
    margin-top: 100px;
    background: #cec5c5;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
}
.offer-info{
    padding:140px;
}
.offer-tittle{
    margin-bottom: 10px;
}
.offer-highlight{
    color: rgb(201, 35, 35);
}
.offer-img{
    margin-right: 150px;
    height: 400px;
    margin-right: 100px;
}
/* instagram related styles */
.instragram-info{
    text-align: center;
    margin-top: 100px;
}
.insta-tittle{
    font-weight: bolder;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-bottom: 10px;
}
.instra-photo{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 50px;
    margin-left: 400px;
}
.instra-img{
    margin-right: 30px;
}
.photo{
    height: 350px;
}

/* latest deals related styles */
.deals-container{
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1440px;
    height: 400px;
    margin-top: 50px;
    margin-left: 400px;
}
.btn-deals{
    background: #E55473;
    padding: 5px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
}
.deals-info{
    padding: 120px;
    /* margin-left:200px ; */
    text-align: cover;
    position: bottom;
    margin-top: 50px;
}
.deals-tittle{
    color: #272727;
    margin-bottom: 10px;
    text-align: center;
}
.deals-input{
    width: 400px;
    height: 30px;
}
.deals-description{
    text-align: center;
}
.deals-line{
    margin-top: 20px;
    margin-left: 350px;
}
/* footer related styles */
.footer-span{
    color: #E55473;
}
.footer-container{
    background: #000;
    color: white;
    text-align: center;
    margin-top: 100px;
}
.footer-tittle{
    padding-top: 100px;
    padding-bottom: 20px;
}
.footer-info{
    margin-bottom: 30px;
}
 .footer-copy{
    color: #665f5f;
    padding-bottom: 100px;
}
.made{
    color: #311b26;
}